node_modules
.idea
dist
.tmp
.sass-cache
app/bower_components
ActuateReportDesigns/.metadata/
app/styles
app/scripts/configuration.js
war
.idea/
.DS_Store
target
target-grunt
.node-gyp
.project
.tern-project
node_modules-1.0.3-offline.tar.gz
