<div class="{{bootstrapContainer}}">
	<div class="row branding">
		<div class="col-xs-16 pr0">
			<a href="#/"><img class="logo" src="images/logo.png" width="144" height="41" alt="att" /></a>

			<div class="btn-group utility-bar pull-right">
				<div class="btn-group file-managment">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="icon"></span>
					</button>
					<ul class="dropdown-menu align-right">
						<li class="dropdown-submenu">
							<a tabindex="-1" href="#">New</a>
							<ul class="dropdown-menu">
								<li><a tabindex="-1" href="#">360 Consumer Insights</a></li>
								<li class="dropdown-submenu">
									<a href="#">More..</a>
									<ul class="dropdown-menu">
										<li><a href="#">3rd level</a></li>
										<li><a href="#">3rd level</a></li>
									</ul>
								</li>
								<li><a href="#">Out of Home Insights</a></li>
								<li><a href="#">Prospect Analysis</a></li>
								<li><a href="#">Real Estate</a></li>
								<li><a href="#">Venue Insights</a></li>
								<li><a href="#">Visitor Insights</a></li>
							</ul>
						</li>
						<li><a href="#">Open...</a></li>
						<li class="dropdown-submenu">
							<a tabindex="-1" href="#">Recent Snapshots</a>
							<ul class="dropdown-menu">
								<li><a href="#">360 Consumer Insights</a></li>
								<li><a href="#">Out of Home Insights</a></li>
							</ul>
						</li>
						<li class="dropdown-submenu">
							<a tabindex="-1" href="#">Recent Trends</a>
							<ul class="dropdown-menu">
								<li><a href="#">360 Consumer Insights</a></li>
								<li><a href="#">Out of Home Insights</a></li>
							</ul>
						</li>
						<li role="presentation" class="divider"></li>
						<li><a href="#">Rename...</a></li>
						<li><a href="#">Make a copy...</a></li>
						<li role="presentation" class="divider"></li>
						<li><a href="#">Share</a></li>
						<li class="dropdown-submenu">
							<a tabindex="-1" href="#">Export</a>
							<ul class="dropdown-menu">
								<li><a href="#">360 Consumer Insights</a></li>
								<li><a href="#">Out of Home Insights</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="white-divider"></div>
				<div class="btn-group user-settings">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{{user}}
						<span class="icon"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">Profile</a></li>
						<li class="dropdown-submenu">
							<a tabindex="-1" href="#">Settings</a>
							<ul class="dropdown-menu">
								<li><a href="#">Links</a></li>
								<li ng-if="isSuperAdmin || isAdmin"><a href="#/accounts">Accounts</a></li>
							</ul>
						</li>
						<li ng-if="!isInternal"><a href="#/logout">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="{{isFilterBarVisible}}">
		<div class="col-xs-16 filter-bar pr0">
			<div class="filename" id="filename">Filename</div>
			<div id="filterContainerAll">
				<div class="filterContainerArrow"></div>
			</div>
		</div>
	</div>
</div>