<div class="row" ng-hide="isSuccess">
	<div class="content-box grey col-md-12 col-md-offset-2 col-xs-14 col-xs-offset-1">
		<div class="row">
			<div class="col-md-3 col-md-offset-1 text-center">
				<span class="lock-question-green-icon"></span>
			</div>
			<div class="col-md-12">
				<h1 class="text-center">Forgot Your Password?</h1>
			</div>
		</div>
		<div class="row mt30">
			<div class="col-md-offset-1 col-md-14 text-center">
				<p class="details">Please enter your email address to reset your password. <br />You will get an e-mail with instructions to reset your password.</p>

				<hr />

				<form name="resetPassword" novalidate ng-submit="submitResetPassword(resetPassword)" class="form-forgot-password">
					<div class="form-group input-group-lg"
						ng-class="{'has-error' : resetPassword.username.$invalid && !resetPassword.username.$pristine}">
						<input class="form-control text-center" name="username" type="email" placeholder="Your Email Address" ng-model="username" required />
					</div>

					<div class="error-container">
						<span
							class="label label-danger label-error" 
							ng-show="resetPassword.username.$error.required && !resetPassword.username.$pristine">Email is required.</span>
						<span
							class="label label-danger label-error"
							ng-show="resetPassword.username.$error.email && !resetPassword.username.$pristine">Please enter a valid email.</span>
						<span 
							class="label label-danger label-error"
							ng-show="submitError">Email Not Found</span>
					</div>

					<div class="button-container mb10 row">
						<div class="col-xs-16 col-md-6 col-md-offset-10">
							<button type="submit" ng-disabled="resetPassword.$invalid" class="btn btn-info btn-lg btn-block">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row" ng-show="isSuccess">
	<div class="content-box grey col-md-12 col-md-offset-2 col-xs-14 col-xs-offset-1">
		<div class="row">
			<div class="col-md-offset-1 col-md-14 text-center">
				<span class="monitor-email-blue-icon"></span>
			</div>
		</div>
		<div class="row mt30 mb30">
			<div class="col-md-offset-1 col-md-14 text-center">
				<h1 class="mt0">Thank You!</h1>
				<hr />
				<p class="details">Password reset instructions were sent to your email.</p>
			</div>
		</div>
	</div>
</div>
