<header id="header" header show-filterbar="false"></header>

<div class="container-fluid admin-util">
	<div class="container">
		<div class="row">
			<div class="col-xs-16">
				<breadcrumb updates="updateBreadcrumbs"></breadcrumb>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row mb15">
		<div class="col-xs-4">
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
					Action <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a ng-click="deleteSelectedUsers()">Delete</a></li>
					<li><a ng-click="">Update Status</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</div>
		</div>
		<div class="col-xs-4 col-xs-offset-8">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="-Type to search-" ng-model="userSearch">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
						Search By <span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li ng-class="{active : filterBy === '$'}"><a ng-click="changeFilterBy('$')">all</a></li>
						<li ng-class="{active : filterBy === key}" ng-repeat="key in tableData.order">
							<a ng-click="changeFilterBy(key)">{{tableData.headers[key]}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-16">

			<dynamic-table
				classes="'cip-table table-hover table-striped'"
				filter-by="tableFilter"
				table-content="tableData"
				order-table-row-by="orderTableBy"
				show-table-header="true"
				selectable-table-rows="true"
				on-click-table-row="goToUser(clickedRow)"
				items-per-page="15"
				current-page="currentPage"
				total-row-count="totalRows"
				sorting="true"></dynamic-table>

			<pagination-mod
				ng-show="totalRows > 15"
				ng-model="currentPage"
				total-items="totalRows"
				max-size="4"
				items-per-page="15"
				class="pagination-sm pull-right"
				boundary-links="false"
				rotate="false"
				previous-text=""
				next-text=""></pagination-mod>

		</div>
	</div>
</div>