<div>
    <div class="landing container">
        <div class="row logo">
            <img class='product-logo' src="images/ATT.png" alt="board icon">
            <h1>CallMeMaybe</h1>
        </div>
        <div class="row">
            <div class="col-xs-16">
                <div class="panel panel-default selection" ng-click="goRep()">
                  <div class="panel-body">
                    <h4>Representitive</h4>
                  </div>
                </div>
                <div class="panel panel-default selection" ng-click="goSuper()">
                  <div class="panel-body">
                    <h4>Superviser</h4>
                  </div>
                </div>
            </div>
        </div>
   </div>
</div>